/* page formatting */
.page_title{
    margin: 1rem 2rem;
    font-size: 2.25rem;
}

.horizontal_line{
    display: inline-block;
    position: relative;
    height: 0.25rem;
    width: 20vw;
    background-color: black;
}

.picture_box{
    position: absolute;
    display:inline-block;
    width: 20vw;
    height: 40vh;
    border-style: solid;
    border-color: black;
    top: 30vh;
    left: 40vw;
    border-radius: 10px;
}

.picture_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#horizontal_line_id_1{
    width: 30vw;
}
#horizontal_line_id_2{
    position: relative;
    width: 20vw;
    right: 1vw
}

/* Text and content formating */

.quote_content {
    position: absolute;
    width: 18vw;
    font-family: 'Playfair Display', serif;
}
.breif_intro{
    position: absolute;
    text-align: justify;
    width: 28vw;
}
#quote_content_id{
    left: 61vw;
    top: 48vh;
}

#breif_intro_id{
    left: 11vw;
    top: 30vh;
}

#name_label_id {
    position: relative;
    font-size: 2em;
}

