/* page formatting */
.page_title{
    margin: 1rem 2rem;
    font-size: 2.25rem;
}

.horizontal_line{
    display: inline-block;
    position: absolute;
    height: 0.25rem;
    width: 20vw;
    background-color: black;
}

.picture_box{
    position: absolute;
    display:inline-block;
    width: 20vw;
    height: 40vh;
    border-style: solid;
    border-color: black;
    top: 30vh;
    left: 40vw;
}

.picture_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#horizontal_line_id_1{
    left: 10vw;
    top: 30vh;
    width: 32vw;
}

#horizontal_line_id_2{
    left: 60.1vw;
    top: 60vh;
}

/* Text and content formating */

.quote_content {
    position: absolute;
    width: 18vw;
    font-family: 'Playfair Display', serif;
}
.breif_intro{
    position: absolute;
    text-align: justify;
    width: 28vw;
}
#quote_content_id{
    left: 63vw;
    top: 48vh;
}

#breif_intro_id{
    left: 11vw;
    top: 35vh;
}

