/* Page Styling */
a {
    color: black;
    text-decoration: none;
}
html, body {
    margin: 0;
    padding: 0;
}

/* Page Content Styling */
.body_content{
    position: relative;
    display: flex;
    margin: 0.8rem;
    border-style: solid;
    border-color: Black;
}

/* Menu objects styling */
.page_menu{
    display: none;
    position: relative;
    float: right;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 95vh;   
    background-color: #ebebe8;
    border-style: solid;
    border-color: Black;
    border-right: 0;
    border-top: 0;
    border-radius: 0px 0px 0px 10px;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
    top: -1rem;
}

.menu_button_inside, .menu_button_outside{
    display: flex;
    line-height: 2.5rem;    
    font-size: 3rem;
    align-self: flex-start;
    position: relative;
    top: 1rem;
    left: 1rem;
    font-weight: bold;
    padding: 0rem .5rem;
    border-radius: 10px 10px 10px 10px;
}

.menu_button_outside{
    float: right;
    left: -20px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    margin-left: 2.5rem;
    background-color:beige;
}

.page_header_obj{
    display: block;
    width: max-content;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    background-color: #a8dadc;
    border-radius: 10px 10px 10px 10px;
    margin: 0.5rem;
    position: relative;
    top: 20%;  
}

.menu_button_inside, .page_header_obj {
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    border-style: solid;
    border-color: Black;
}

/* Hover detection and handler */
.menu_button_inside:hover,.menu_button_outside:hover,.page_header_obj:hover  {
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out;
    cursor:pointer;
}

/* Animation key frames*/
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}