html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 110, 125)
}

.body_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.sub_title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: .25rem;
    margin-left: 1rem;
    height: 3vh;
}

.sub_title_content{
    margin-top:.25rem;
    margin-left:1.25rem; 
    height: 2vh;
}

.page_menu{
    background-color: rgb(200,200,200);
    opacity: 1;
}

.page_header_obj{
    display: block;
    width: max-content;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    background-color: #ffa8e8;
    border-radius: 10px 10px 10px 10px;
    margin: 0.5rem;
    position: relative;
    top: 20%;  
}



.projects-grid {
    display: flex;  
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    flex-direction: row;
    max-width: 100%;
    height: 100vh;
    overflow-x:auto;
    scroll-snap-type: x mandatory; /* <--- Snap horizontally */
    scroll-behavior: smooth; /* <--- Smooth scrolling feel */
    gap: 20vw;
    padding: 0 20vw;
    scrollbar-width: 0;
}

.project-card {
    background: rgba(230, 230, 230, 1);
    border-radius: 10px;
    overflow-y: auto;
    text-align: center;
    width: 60vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin: 1vh 0 1vh 0;
    padding-top: 10vh;
    overflow-y:auto;
    scroll-snap-type: y mandatory; /* <--- Snap vertically */
    scroll-behavior: smooth; /* <--- Smooth scrolling feel */
}

.project-card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.button {
    position:relative;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project-detail {
    padding: 2rem;
    width: 60vw;
    margin: 1vh 0;

    font-family: "Segoe UI", sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #222;
}

.project-detail img {
    width: 100%;
    margin: 10px 0;
}

.projects-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.project-card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.hidden{
    display: none;
}

.scroll-arrow_right {
    position: fixed;
    font-weight: bold;
    top: 50%;
    right: 10vw;
    transform: translateY(-50%);
    font-size: 4rem;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    z-index: 50;
    transition: opacity 0.3s ease;
    opacity: 0; /* hidden by default */
    pointer-events: none; /* avoid clicking when hidden */
}

.scroll-arrow_right.visible {
    opacity: .6;
    pointer-events: all;
}

.scroll-arrow_right:hover {
    transform: translateY(-50%) scale(1.4);
    color: #000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll-arrow_left {
    position: fixed;
    font-weight: bold;
    top: 50%;
    left: 10vw;
    transform: translateY(-50%);
    font-size: 4rem;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
    z-index: 20;
    transition: opacity 0.3s ease;
    opacity: 0; /* hidden by default */
    pointer-events: none; /* avoid clicking when hidden */
}

.scroll-arrow_left.visible {
    opacity: .6;
    pointer-events: all;
}

.scroll-arrow_left:hover {
    transform: translateY(-50%) scale(1.4);
    color: #000;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.more_detail_box {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.topic {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    color: #222;
  }
  
  .topic-explanation {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 0.5rem;
  }


.github-link {
    color: #0000EE;    
    text-decoration: underline;
    font-weight: normal;   
    background: none;      
    padding: 0;             
    border: none;        
  }
  
.github-link:hover {
    color: #551A8B;             
    text-decoration: underline;
  }
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: .6; }
}

@keyframes fadeOut {
    from { opacity: .6; }
    to   { opacity: 0; }
}

.animate_fade_in{
    animation: fadeIn .125s ease-in-out both;
}

.animate_fade_out{
    animation: fadeOut .125s ease-in-out forwards;
}



@media (max-width: 800px) {
    
    .project-detail {
        padding: 2rem;
        width: 80vw;
        margin: 1vh 0;

        font-family: "Segoe UI", sans-serif;
        font-size: 1rem;
        line-height: 1.4;
        color: #222;
    }

    .scroll-arrow_left {
        left: 1vw;
    }
    .scroll-arrow_right {
        right: 1vw;
    }
}

